.texte {
	color: #4e95ff;
	font-size: 17px;
}

a {
	color: #4e95ff;;
}

.dates {
	color: rgb(248, 110, 110);
	text-align: center;
	text-decoration: underline;
	line-height: 20px;
}

/* Met le texte en bleu et espacé de 18 px + marge de 20rem de chaque coté */

.sommaire-1 {
	text-align: center;
	line-height: 24px;
	font-size: 18px;
}
/* aligne le sommaire au centre
defini la taille du texte et l'espacement des lignes */

.sommaire-2 {
	text-align: left;
	display: inline-block;
}
/* aligne le texte du sommaire a droite
( mais toujours en étant au centre de la page*/

html {
	background-image: url(https://wallpapercave.com/wp/wp2691570.jpg);
	background-size: cover;
	background-attachment: fixed;
}
/* definis l'arriere plan  */

body {
	font-family: TeX Gyre Adventor;
	line-height: 18px;
	text-align: justify;

	/* definition de la police, la taille du texte et aligne
	le texte de facon propre  */

	background-color:rgba(40, 40, 40, 0.97);
	box-shadow: rgb(0, 0, 0) 0px 0.5em 1em;

	/* met de l'ombre */

	padding-left: 6rem;
	padding-right: 6rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin-left: 8rem;
	margin-right: 8rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: 7px;

	/* Definis des marges pour l'interieur du body ( images + texte)
	et pour l'exterieur ( marge de propretée autour du body ) */
}

/*  */

h1 { /* Titres en rouge, souligné */
	color : red;
	text-decoration : underline;
	text-align: center;
	line-height: 40px;
	font-size: 35px;
}

h3, h2 { /* Titres secondaires en vert */
	color : rgb(51, 168, 51);
}

.reference {
	color: #8a89b8;
	font-style:italic;
}
/* met les references en gris/bleu et en italique */

.image {
	text-align: center;
	position: relative;
	max-width: 100%;
}

/* met les images au centres, adaptation de
 l'image en fonction de la taille du texte */

.legende {
	color: #c2d0df;
	text-align: center;
	font-style: italic;
	font-size: 15px;
}

/* met les légendes en gris, italique, alignées au centre et
avec une taille de 15pixels */

header {
	font-size: 18px;
}

.sources {
	text-align: center;
}

/* aligne le texte des sources au centre */

a {
  background: transparent;
  text-decoration: none;
  position: relative;
}

a.animate {
  animation: .5 changement;
}

a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #6a8ec4;
  transition: transform .4s /*250ms */
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
/* met un animation sous toute chose maquée de la balise <a> */

@media screen and (max-width: 1280px) {
	body {

		background-color:rgba(40, 40, 40, 0.97);
		box-shadow: rgb(0, 0, 0) 0px 1em 1.5em;

		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 0.5rem;
		padding-bottom: 1.5rem;
		margin-left: 2.5em;
		margin-right: 2.5rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		border-radius: 3.5px;
	}
	/* adaptation pour un écran de telephone */
}