.texte{
	color: #0065ff;
	/* color: white;
	system-ui
	padding-left: 20rem;
	padding-right: 20rem; */
	font-size: 17px;
}

/* Met le texte en bleu et espacé de 18 px + marge de 20rem de chaque coté */

.sommaire-1 {
	text-align: center;
	line-height: 24px;
	font-size: 18px;
}

.sommaire-2 {
	text-align: left;
	display: inline-block;
}

html {
	background-image: url(https://wallpapercave.com/wp/wp2691570.jpg);
	background-size: cover;
	background-attachment: fixed;
	/* font-family: TeX Gyre Adventor; */
}

body {
	font-family: TeX Gyre Adventor;
	line-height: 18px;
	text-align: justify;

	/* background-color: transparent; */
	/* background-color: black; */
	background-color:rgba(40, 40, 40, 0.97);
	/* box-shadow: 3px 3px red, -1em 0 .4em olive; */
	box-shadow: rgb(0, 0, 0) 0px 0.5em 1em;
	/* background-size: cover; */
	padding-left: 6rem;
	padding-right: 6rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
	margin-left: 8rem;
	margin-right: 8rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: 7px;
	
}

h1 { /* Titres en rouge, souligné */
	color : red;
	text-decoration : underline;
	text-align: center;
	line-height: 40px;
	font-size: 35px;
}

h3, h2 { /* Titres secondaires en vert */
	color : green;
}

.reference {
	color: #5e779c;
	font-style:italic;
}
.image {
	text-align: center;
	position: relative;
	max-width: 100%;
	/*height: auto;
	padding-left: 6rem; 
	padding-right: 6rem; */
}

.trop {
	max-width: 100%;
	height: auto;
}

.legende {
	color: #6b6c6d;
	text-align: center;
	font-style: italic;
	font-size: 15px;
}

header {
	font-size: 18px;
}

.sources{
	text-align: center;
}

a{
  background: transparent;
  text-decoration: none;
  position: relative;
}

a.animate {
  animation: .5 changement;
}

a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #6a8ec4;
  transition: transform .4s /*250ms */
}
a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

@media screen and (max-width: 1280px){

	body{

		background-color:rgba(40, 40, 40, 0.97);
		box-shadow: rgb(0, 0, 0) 0px 1em 1.5em;
	
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 0.5rem;
		padding-bottom: 1.5rem;
		margin-left: 2.5em;
		margin-right: 2.5rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		border-radius: 3.5px;
	}

	/* h1 { Titres en rouge, souligné 
		color : red;
		text-decoration : underline;
		text-align: center;
		line-height: 40px;
		font-size: 35px;
	}

	.sommaire-1{
		text-align: center;
		line-height: 24px;
		font-size: 30px;
	}
	
	.sommaire-2{
		text-align: left;
		display: inline-block;
	} */
}